.starter-template {
  padding: 50px 10px 10px 10px;
  text-align: center;
}


html, body, #map-canvas {
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.button-holder {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
