<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <style type="text/css">
      html, body, #map-canvas { height: 400px; width: 700px; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyAwkXXGz7H8p9pTRmzMiCpoyTFnJ1BVVg0">
    </script>
    <script type="text/javascript">
      function initialize() {
	// Configure the map
        var mapOptions = {
          center: { lat: 0.0, lng: 180.0},
          zoom: 1
        };
	// Instantiate the google map
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	// This infowindow will display velocity info on click
        var infowindow = new google.maps.InfoWindow({
        });
	// Click event: display location's wind velocity [m/s]
        google.maps.event.addListener(map, 'click', function(event) {
          var trueLat = Math.round(event.latLng.k*2)/2.0;
          var trueLong =  Math.round(event.latLng.B*2)/2.0;
          var truelatLng = new google.maps.LatLng(trueLat, trueLong);
	  if (trueLong < 0) {trueLong = 360 + trueLong};
	  console.log(trueLat, trueLong);
	  window.location = "http://ec2-54-183-250-200.us-west-1.compute.amazonaws.com:5000/view/"+String(trueLat)+"/"+String(trueLong)+"/D/20140101";
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>

    <div id="map-canvas"></div>

  </body>
</html>

