<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/starter-template.css" rel="stylesheet">

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Windpipe</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="#">API</a></li>
            <li><a href="/slides">Slides</a></li>
            <li><a href="https://github.com/sophiediehl/gfs">Github</a
></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </div>

      <div class="starter-template">
	<h2>Windpipe, by Sophie Diehl</h2></div>
<div><p>A data pipeline for wind speeds at the altitude of wind turbines (80 meters in the air).</p>
<p>I built this project as part of the Insight Data Engineering fellowship program, as an opportunity to try out big data pipelining tools such as HDFS, Pig, and HBase, as well as to satisfy my curiosity about the variability of turbine-altitude winds over time and space.</p>
<p>It can be viewed at this address until October 19th.</p>
<p>Data comes from the National Oceanic and Atmospheric Administration's GFS4 modeling system, which provides forecasts in 3-hour intervals at a spatial resolution of 0.5 degrees latitude and longitude, released in daily batches. Data is available at <a href=">http://www.ftp.ncep.noaa.gov/data/nccf/com/gfs/prod/">http://www.ftp.ncep.noaa.gov/data/nccf/com/gfs/prod/</a></p>
</div>
<div class="about-picture">
	<img src="/static/windpipe1.png">
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>

