<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/starter-template.css" rel="stylesheet">

    <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyAwkXXGz7H8p9pTRmzMiCpoyTFnJ1BVVg0">
    </script>
    <script type="text/javascript">
      function initialize() {
	// Configure the map
        var mapOptions = {
          center: { lat: 0.0, lng: 180.0},
          zoom: 1
        };
	// Instantiate the google map
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	// This infowindow will display velocity info on click
        var infowindow = new google.maps.InfoWindow({
        });
	// Click event: display location's wind velocity [m/s]
        google.maps.event.addListener(map, 'click', function(event) {
          var trueLat = (Math.round(event.latLng.k*2)/2.0);
          var trueLong = (Math.round(event.latLng.B*2)/2.0 +360)%360;
          var truelatLng = new google.maps.LatLng(trueLat, trueLong);
	  console.log(trueLat, trueLong);
	  window.location = "http://ec2-54-183-250-200.us-west-1.compute.amazonaws.com:5000/view/"+String(trueLat)+"/"+String(trueLong)+"/D/20140101";
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Windpipe</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#">API</a></li>
            <li><a href="/slides">Slides</a></li>
            <li><a href="https://github.com/sophiediehl/gfs">Github</a
></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </div>

      <div class="starter-template">
        <h1>
	Click an area on the map to view wind levels in that region.
        </h1>
      </div>
    <div id="map-canvas"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

  </body>
</html>

